*{
    padding:0;
    margin:0;
    font-family: Bree Serif, sans-serif;
}
body{
    background-color: #e2e2e2;
}
p, a, pre{
    display: block;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    color: #121212;
    background-color: yellow;
    box-shadow: 0px 0px 3px 1px #0004;
    border: 1px solid #0002;
    border-radius: 4px;
}
a{
    color:#e2e2e2;
    background-color: blue;
    text-decoration: none;
}
.question{
    color:#e2e2e2;
    background-color: blue;
    margin-bottom: 1px;
    border-radius: 4px 4px 0 0;
    font-size: 22px;
}
.hint{
    color:#e2e2e2;
    background-color: rgb(0, 109, 109);
    margin-bottom: 1px;
    margin-top: 1px;
    border-radius: 0;
    font-size: 18px;
}
.answer{
    color:#e2e2e2;
    background-color: #121212;
    margin-top: 1px;
    border-radius: 0 0 4px 4px;
    font-size: 18px;
}
pre{
    overflow-x: auto;
}