:root {--pri: #f7f7f7;--sec: #f7f7f7;--font: #DC143Caa;}
*{
    padding:0;
    margin:0;
    font-family: "Bree Serif", sans-serif;
    transition-duration: 0.3s;
}
body{
    background-color: var(--sec);
}
p, a, pre{
    display: block;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    color: #121212;
    background-color: #f7f7f7;
    box-shadow: 0px 0px 3px 1px #0004;
    border: 1px solid #0002;
    border-radius: 4px;
}
a{
    color:#f4f4f4;
    background-color: var(--pri);
    text-decoration: none;
}
pre{
    overflow-x: auto;
}
div{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn{
    padding: 10px 14px;
    font-size: 20px;
    margin: 10px 10px 25px 10px;
    box-shadow: 0px 0px 3px 1px #0004;
    border: 1px solid #0002;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
.no-style{
    display: inline;
    font-size: 20px;
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: #121212;
    background-color: #f7f7f700;
    box-shadow: 0px 0px 3px 1px #0000;
    border: none;
    border-radius: 0;
}
